@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

:root {
  --white-text: #fff;
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Cabin', sans-serif;
}

#container {
  height: 100vh;
  width: 100vw;
  background-color: #F9F9ED;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#header {
  width: inherit;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #12766A;
  height: 4rem;
}

#logo img {
  height: 40px;
}

/* sort & filter container: start */

.sort-filter {
  display: flex;
  align-items: center;
  width: inherit;
  max-height: max-content;
  padding: 0.6rem 0 0.6rem 1.6rem;
  background-color: #190F10;
  color: #fff;
}

#order-container {
  margin-right: 1rem;
}

.select-menu {
  height: 1.6rem;
  appearance: auto;
}

option:disabled {
  color: #12766A;
  font-style: italic;
  font-weight: 600;
}

/* sort & filter container: end */

.btn {
  padding: 0.4rem 0.5rem;
  background-color: #12766A;
  color: #fff;
  border: none;
  border-radius: 6px;
  margin-left: 1.2rem;
}

/* movie container: start */

#movie-container {
  width: inherit;
  margin-bottom: 3.6rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-card {
  width: 40rem;
  height: 30rem;
  background-color: #12766A;
  color: #ffffffd3;
  margin: 2rem 1rem;
  padding: 1rem 2rem;
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  box-shadow: 1px 1px 10px #190f107c;
}

.title {
  text-align: center;
}

.poster-description {
  display: flex;
  align-items: center;
}

.poster-img {
  width: 13rem;
  height: 18rem;
  margin-right: 2rem;
  border: solid 10px #190f10c4;
}

.subtitle, .description,
.data {
  margin-bottom: 1rem;
}

.description {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

/* movie container: end */

footer {
  width: 100vw;
  background-color: #190F10;
  color: #fff;
  font-size: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 0.8rem 0;
}

/* media queries */

@media only screen and (max-width: 720px) {
  .sort-filter {
    flex-wrap: wrap;
    flex-flow: column;
    align-items: start;
    max-height: 10rem;
  }

  #order-container,
  #filter-conatiner,
  .btn {
    margin: 0.6rem 0;
  }

  .btn {
    margin-left: auto;
  }

  .movie-card {
    width: 20rem;
    height: fit-content;
  }

  .title {
    margin-bottom: 1.6rem;
  }

  .poster-description {
    flex-flow: column;
  }

  .poster-img {
    width: 11rem;
    height: 15rem;
    margin-right: 0;
    margin-bottom: 1.6rem;
  }
}